<h1>Technicians</h1> 
<% @technicians.each do |tech| %> 
    <%= tech.name %> 
    <%= tech.category %> 
    <%= tech.rating %> 
    <%= link_to "Book Technician", new_technician_appointment_path(tech) %> 
<% end %> 