<h2><%= @technician.name %></h3>
<p><strong>Contact Number: </strong><%= @technician.phone_number %> </p>
<p><strong>Specialty:</strong> <%= @technician.category %> </p>
<p><strong>About:</strong> <%= @technician.about %> </p>
