<h2>Welcome to Handyman!!</h2> 

<p>Handyman is an application where you can book appoiontments with handymnn that are looking for work.</p>
<p>As a user you can search and book appointments with contractors. </p>
<p>As a Manager you can sign up new employees, view their appointments and edit their profiles.</p>
<p><%= link_to "Sign Up", signup_path %> to try out Handyman now!</p>


<br>
<%= link_to "Log In", login_path %> 

or 

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

or 

<%= link_to('Log in with Github!', '/auth/github') %>
