<h1>All of <%= @tech.name %> appointments</h1>
<ul>
<% @tech.appointments.each do |app| %>
    <li><strong>Name:</strong> <%= app.user.name %> <br>
    <strong>Issue:</strong> <%= app.issue %><br>
    <strong>Appointment time and date:</strong> <%= formatted_date(app) %> <br></li>
    <br>
<% end %> 
</ul>